

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

$blue: #323AFF; 
$pink: #FF3879;
$shadow :  #363636;

#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

body {
  padding: 0;
  background-image: url(/public/img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Changa", sans-serif;
  height: 100vh;

  button {
    font-family: "Changa", sans-serif;
  }
}

.section {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px; 
}

//nextplayer

.statusgame {
  text-align: center;
  color: white; 
}

//tabella

.board-wrap {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
  gap: 30px; 

  .square {
    background: #7DC5FF;
    border: 3px solid $blue;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
  }

  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
}

//titolo e animazioni
.page-title {
  padding: 15px 30px;
  width: 30%;
  text-align: center;
  font-size: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
  background: $blue;
  color: $pink;
  box-shadow: 0 0 10px $shadow, inset 0 0 10px $shadow;
  text-shadow: 2px 2px $shadow;
}

.page-title.active {
  animation: a 0.5s 1 linear;
}
@keyframes a {
  0% {
    transform: scale(0.7, 1.3);
  }

  25% {
    transform: scale(1.3, 0.7);
  }

  50% {
    transform: scale(0.7, 1.3);
  }

  75% {
    transform: scale(1.3, 0.7);
  }

  100% {
    transform: scale(1, 1);
  }
}

//button e animazioni

.shadow-btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #ffffff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  text-shadow: 1px 1px $shadow;
  transition-property: box-shadow;
}

.shadow-btn {
  background: $pink;
  box-shadow: 0 0 10px $pink;
}

.shadow-btn:hover {
  box-shadow: 0 0 5px $pink,
              0 0 25px $pink;
}







